<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Portfolio</title>
</head>
<body>
<h1> All Portfolio </h1>
<a href="/portfolio/create"> Add </a>

<ul th:each="p: ${portfolios}">
  <li>
    <span th:text="${p.name}"></span>
    <a th:href="@{/portfolio/edit/{id}/(id=${p.id})}"> edit  </a>
    <a th:href="@{|/portfolio/edit/${p.id}|}">edit 2 </a>
    |
    <a th:href="@{|/portfolio/delete/${p.id}|}">delete </a>
    <br>
    <span th:text="${p.id}"></span>

  </li>
</ul>

</body>
</html>